@charset "utf-8";
/* CSS Document */

html {
    font-size: 16px;
    
}

.logo {
    color: #FFFFFF;
    font-size: 3.75em;
    font-family: 'Roboto Slab', serif;
    background: #E32525;
    padding: 0 .30em .05em .45em;
    margin: 0 auto;
}


h1 {
    font-family: 'Poly', serif;
    color: #E32525;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .15em;
    padding: .6em 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.775em;
    color: #E32525;
    font-weight: bold;
}

p {
    font-family: Garamond;
    font-size: 1em;
}

.message-button {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    background: #DCF0FF;
    font-size: 1.2em;
    padding: .2em 1.7em;
    box-shadow: none;
    border: #000000 solid 1px;
    letter-spacing: .05em; 
}

header {
    background: url("../img/background.png");
    background-position: bottom right;
    height: 33em;
}

header p {
    font-size: 1.1em;
    text-align: center;
}

.header-top-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 3.8em;
}


.hero-area {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.hero-box {
    background-color: #FFFCEE;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 70%;
    min-width: 300px;
    padding: 1em 1.2em; 
    border: #000000 solid 2px;
    
}

.services {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-box {
    max-width: 556px;
}

.services-headline {
    text-align: center;
    padding: 1em;
}

.services-images {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.services-content img {
    padding: 1em;
    margin: 0;
    width: 99px;
    height: 99px;
}
