@charset "utf-8";
/* CSS Document */

html {
    font-size: 16px;
    
}

.logo {
    color: #FFFFFF;
    font-size: 3.75em;
    font-family: 'Roboto Slab', serif;
    background: #E32525;
    padding: 0 .30em .05em .45em;
    margin: 0 auto;
}


h1 {
    font-family: 'Poly', serif;
    color: #E32525;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: .15em;
    padding: .6em 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.775em;
    color: #E32525;
    font-weight: 900;
	letter-spacing: .13em;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
	letter-spacing: .06em;
    color: #E32525;
    font-weight: bold;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1em;
}

.message-button {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    background: #DCF0FF;
    font-size: 1em;
    padding: .5em 1.9em;
    box-shadow: none;
    border: #000000 solid 1px;
    letter-spacing: .07em; 
}

header {
    background: url("../img/background.png");
    background-position: bottom right;
    background-size: auto;
    height: 33em;
}

header p {
    font-size: 1.1em;
    text-align: center;
}

.header-top-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 3.8em;
}


.hero-area {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.hero-box {
    background-color: #FFFCEE;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 70%;
    min-width: 300px;
    max-width: 460px;
    padding: 1em 1.2em; 
    border: #000000 solid 2px;
    
}

.services {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
}


.services-box {
    max-width: 556px;
}

.services-headline {
    text-align: center;
    padding: 1em;
}

.services-images {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.services-content img {
    padding: 1em;
    margin: 0;
    width: 99px;
    height: 99px;
}

.services-content-box {
    padding: 1em;
    text-align: center
}

.action-banner {
    background: #FFE74C;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-content {
    display: flex;
    align-content: center;
    justify-content: center;    
}

.action-image {
    display: none;
}

.action-content {
    text-align: center;
}

footer {
    background: #000000;
}

.footer-container {
    padding: 1em;
    max-width: 16em;
}

footer p {
    color: #FFFCEE;
    font-family: 'Roboto', sans-serif;
    font-size: .8em;
    font-weight: normal;
}

footer a, a:visited {
    color: #FFE74C;
    padding: 0 .7em 0 0;
    
}

footer a:hover, a:active {
    color: #ffd869;
}

.contact-box img {
    width: 27px;
    height: auto;
}

@media (min-width: 768px) {
    
    h1 {
        font-size: 2.5em;
    }
   
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.3em;
    }
    
      
    header {
    height: 37em;
    
}
    
    
    .logo {
        color: #FFFFFF;
        font-size: 3.75em;
        font-family: 'Roboto Slab', serif;
        background: #E32525;
        padding: 0 .20em .2em .35em;
        margin: 0 auto;
    }

    
    .header-top-container {
    display: block;
    padding: 1em 0 6em 2.7em;
    
}
    
    header p {
    font-size: 1.4em;
    
}
    
    .action-container {
        max-width: 800px;
    }
    
    .action-content {
        text-align: left;
    }
    
    .action-image {
    width: 25%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
    .action-image img {
        width: 147px;
        height: 162px;
    }
    
    .action-text {
        width: 70%;
        padding: 1em;
    }
    
}

@media (min-width: 1200px) {
    
    .services-box {
        max-width: 1500px;
    }
    
    .services-headline {
        padding: 0;
    }
    
    .services-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;
    }
    
    .services-content-box {
       width: 30%;
    }
}