@charset "utf-8";
/* CSS Document */

html {
    font-size: 16px;
    
}

.logo {
    color: #FFFFFF;
    font-size: 3.75em;
    font-family: 'Roboto Slab', serif;
    background: #E32525;
    padding: .075em .15em .2em .25em;
}


h1 {
    font-family: 'Poly', serif;
    color: #E32525;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: .15em;
    padding: .6em 0;
}

p {
    font-family: Garamond;
    font-size: 1em;
}

.message-button {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    background: #DCF0FF;
    font-size: 1.2em;
    padding: .2em 1.7em;
    box-shadow: none;
    border: #000000 solid 1px;
    letter-spacing: .05em; 
}

header {
    background: url("../img/background.png");
    height: 35em;
}

header p {
    font-size: 1.1em;
    text-align: center;
}

.header-top-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    padding: 4em;
}


.hero-area {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.hero-box {
    background-color: #FFFCEE;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 70%;
    padding: 1em 1.2em; 
    border: #000000 solid 2px;
    
}

